<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GetIp_From_DropDown" value="0"/>

    <add key="DBName" value="promise6"/>
    <add key="DBServer" value="127.0.0.1"/>
 
    <add key="DBDriver" value="2"/>
    <add key="RegiouID" value="1"/>

    <add key="ExchangeDirectory" value="D:\pRoMiSe6\ExchangeData\"/>
    <add key="ErrorLogDirectory" value="D:\pRoMiSe6\ExchangeData\"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <pages/>
    <authentication mode="Windows" />
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
